body{
	background-color: white
}

.topnav {
    background-color: navy;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: lightcyan;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: Helvetica;
    font-size: 17px;
}

.topnav a:hover {
    background-color: lightcyan;
    color: navy;
}

.active {
    background-color: crimson;
    color: navy;
}

.topnav .icon {
    display: none;
}

h1 {
	margin-top: 50px;
	color: navy;
	font-size: 25px;
	font-family: Helvetica;
	text-align: center;
}



/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: navy;
    color: lightcyan;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-family: helvetica;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: crimson;
    color: lightcyan;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    font-family: Helvetica;
}

var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}




