body{
	background-color: white
}

.topnav {
    background-color: navy;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: lightcyan;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: Helvetica;
    font-size: 17px;
}

.topnav a:hover {
    background-color: lightcyan;
    color: navy;
}

.active {
    background-color: crimson;
    color: navy;
}

.topnav .icon {
    display: none;
}

h1 {
	margin-top: 50px;
	color: navy;
	font-size: 25px;
	font-family: Helvetica;
	text-align: center;
}

p {
    color: navy;
    font-family: helvetica;
}

#profiles h2 {
text-align: center;
}

#profiles img {
    border-radius: 10px;
}
#profiles .title {
    color: navy;
    text-align: center;
}

#logo {
	width: 15%;
	text-align: center;
    border-radius: 50px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border: 20px navy;
    border-radius: 10px;
    padding-top: 20px
}

.container {
    padding: 4px;
    text-align: center;
    border-color: navy;
    border-width: 10px;
}

h2 {
color:navy;
font-size: 15px;
font-family: Helvetica;
text-align: center;
}

#zaks2018 {
	width: 40%;
}

#logocontainer {
text-align: center;
border-radius: 50px;
text-decoration-color: navy;
}


.column {
    float: left;
    width: 18%;
    margin-bottom: 16px;
    padding: 4px;
    text-align: center;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
    text-align: center;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
        text-align: center;
    }
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}


h3 {
	color: navy;
	font-size: 18px;
	font-family: Helvetica;
	font-style: italic;
	text-align: center;
}



h4 {
	color: navy;
	font-size: 15px;
	font-family: Helvetica;
	text-align: center;
}

#fl {
	width: 900px;
	margin: auto;
}